<!--Configuration for Unity Application Block-->
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <!--Container definitions-->
  <containers>
    <container name="TestContainer">
      <types>
        <!--Data Access Components-->
        <register type="Company.Project.Shared.ICustomerDTO, Company.Project.Shared" mapTo="Company.Project.DTOModel.CustomerDTO, Company.Project.DTOModel">
        </register>
        <!--Facades-->
        <register type="Company.Project.Shared.ICustomerFacade, Company.Project.Shared" mapTo="Company.Project.Facade.CustomerFacade, Company.Project.Facade">
        </register>
        <!--Business Domain Components-->
        <register type="Company.Project.Shared.ICustomerBDC, Company.Project.Shared" mapTo="Company.Project.Business.CustomerBDC, Company.Project.Business">
        </register>
        <!--Data Access Components-->
        <register type="Company.Project.Shared.ICustomerDAC, Company.Project.Shared" mapTo="Company.Project.DataAccess.CustomerDAC, Company.Project.DataAccess">
        </register>
        <!--DBAccess-->
        <register type="Company.Project.Entities.Entities.EntityFwTestEntities, Company.Project.Entities" mapTo="Company.Project.Entities.Entities.EntityFwTestEntities, Company.Project.Entities">
        </register>
        <!-- Others -->
        <register type="Company.Project.Shared.IExceptionManager, Company.Project.Shared" mapTo="Company.Project.Shared.ExceptionManager, Company.Project.Shared">
          <lifetime type="singleton" />
        </register>
        <register type="Company.Project.Shared.Infrastructure.Common.Logging.ILogger, Company.Project.Shared" mapTo="Company.Project.Plugin.Log4net.Log4netLogger, Company.Project.Plugin.Log4net">
          <lifetime type="singleton" />
        </register>
      </types>
    </container>
  </containers>
</unity>