
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/dashboard.css" rel="stylesheet" />
<div class="innercontentDashboard">
    <div class="row">
        <div class="col-md-10">
            <div class="col-md-12" style="margin-bottom:20px">
                <div class="dataBoxSec">
                    <div class="col-md-3">
                        <div class="reqSec dataBox">
                            <span class="fa fa-calendar-check-o" aria-hidden="true"></span>
                            <div class="txtInner">
                                <p><a href="~/Home/Appointment" class="anchor-color-white">Appointments</a></p>
                                @*<h3 id="cartTotalTickets">4</h3>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="workSec dataBox">
                            <span class="fa fa-question" aria-hidden="true"></span>
                            <div class="txtInner">
                                <p>Queationnaires</p>
                                @*<h3 id="cartWorkOrders">5</h3>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="ticketSec dataBox">
                            <span class="fa fa-envelope-o" aria-hidden="true"></span>
                            <div class="txtInner">
                                <p>Messages</p>
                                @*<h3 id="cartHappyCustomers">6</h3>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="DocSec dataBox">
                            <span class="fa fa-file-text-o" aria-hidden="true"></span>
                            <div class="txtInner">
                                <p>Documents</p>
                                @*<h3 id="cartHappyCustomers">6</h3>*@
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="dataBoxSec">
                    <div class="col-md-3">
                        <div class="meetSec dataBox">
                            <span class="fa fa-handshake-o" aria-hidden="true"></span>
                            <div class="txtInner">
                                <p>Clinical</p>
                                @*<h3 id="cartTotalTickets">4</h3>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="labSec dataBox">
                            <span class="fa fa-flask" aria-hidden="true"></span>
                            <div class="txtInner">
                                <p>Lab Results</p>
                                @*<h3 id="cartWorkOrders">5</h3>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="rxSec dataBox">
                            <span class="fa fa-user-o" aria-hidden="true"></span>
                            <div class="txtInner">
                                <p>Messages</p>
                                @*<h3 id="cartHappyCustomers">6</h3>*@
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-2" style="height: 500px; border-left: 1px solid gray;">
            <p style="color:black;font-size:16px">ABX Community Hospital</p>
            <hr />
            <p style="color:black;font-size:12px">B-61, Dwarika Mor, Dwarika </p>
        </div>
    </div>
</div>
