@using PatientPortal.Infrastructure.Authentication;
@using DataLayer;
@using PatientPortal.Models;
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<div class="" style="margin-top:0px;padding-top:20px;">
    <div class="col-sm-12 col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Make Payment
            </div>
            <div class="panel-body">
                <div class="row">
                    <ul class="makepayment">
                        <li>
                            <span><i></i></span>
                            Make Payment against your Registration Renewal
                            @Html.ActionLink(" click here to Renew", "MakePaymentRenewal", "Home", new { area = "" }, new { })
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .makepayment > li:before {
        font-family: 'FontAwesome';
        content: '\f067';
        margin: 0 5px 0 -15px;
        color: #f00;
    }

    .makepayment {
        padding-left: 30px
    }
</style>