@using PatientPortal.DTOModel;
@model PatientPortal.DTOModel.ProductDTO

<script src="~/Scripts/lib/jquery-migrate-1.3.0.js"></script>
<link href="~/Contents/css/kendo.common.min.css" rel="stylesheet" />
<link href="~/Contents/css/kendo.default.min.css" rel="stylesheet" />
<link href="~/Contents/css/PatientPortal.css" rel="stylesheet" />
<div class="content-area" id="DivProduct">
    <div class="container">
        <div class="row text-right">
            <div class="col-md-12 col-sm-12 col-xs-12 add-product paddingTB10">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-bind="click: function () { AddProduct() }"> Add</button>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span type="button" class="close glyphicon glyphicon-remove" data-bind="click: function () { Cancel($data) }" aria-label="Close"></span>
                                <h4 class="modal-title text-left" id="myModalLabel">Add Product</h4>
                            </div>

                            <div class="modal-body">
                                <form class="form-horizontal" action="admin/SaveProductImage" id="AddProductForm" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-md-3 col-sm-3 col-xs-12 control-label text-left">Language:</label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <select id="ddlLanguage" class="form-control"
                                                    data-bind=" value: model.LanguageId, options: LanguageList, optionsText:'Name',optionsValue:'Id', optionsCaption:'Select' "></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="textName" class="col-md-3 col-sm-3 col-xs-12 control-label ">Name:</label>
                                        <div class="col-md-7 col-sm-7 col-xs-12">

                                            @Html.TextBoxFor(c => c.Name, htmlAttributes: new { @type = "text", @class = "form-control", @id = "textName", @data_bind = "value: model.Name", @maxlength = "60" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="textdesc" class="col-md-3 col-sm-3 col-xs-12 control-label">Description:</label>
                                        <div class="col-md-7 col-sm-7 col-xs-12 editorheight">
                                            @Html.TextAreaFor(c => c.Description, htmlAttributes: new { @name = "textarea", @id = "txtJQEditor", @class = "form-control", @style = "height:50px;" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="texturl" class="col-md-3 col-sm-3 col-xs-12 control-label ">URL:</label>
                                        <div class="col-md-7 col-sm-7 col-xs-12">
                                            @Html.TextBoxFor(c => c.Name, htmlAttributes: new { @type = "url", @class = "form-control", @id = "texturl", @data_bind = "value: model.ProductURL" })
                                        </div>
                                    </div>
                                    <div class="div-table-bordered">
                                        <table class="table-popup table table-bordered ">
                                            <thead>
                                                <tr>
                                                    <th width="35%">Main Image</th>
                                                    <th width="35%">Thumbnail Image</th>
                                                    <th width="15%">Primary</th>
                                                    <th width="15%">
                                                        <div class="action">
                                                            <a title="Add Image" class="add-image" href="javascript:void(0);" data-bind="click: function () { AddFileUpload() }"></a>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>

                                        <div id="divScroll" class="mCustomScrollbar">
                                            <table class="table-popup table table-bordered" id="tblImage">
                                                <tr id="imageTemplate" style="display:none;">
                                                    <td width="35%">
                                                        <div class="browseStyle">
                                                            <input type="file" multiple class="form-control typefile productImage" name="img" />
                                                            <img src="" class="thumb-img hidden" />
                                                            <span class="imagepath hidden"></span>
                                                            <input type="text" class="form-control browse" value="Main Image">
                                                        </div>
                                                    </td>
                                                    <td width="35%">
                                                        <div class="browseStyle">
                                                            <input type="file" class="form-control typefile" />
                                                            <img src="" class="thumb-img hidden" />
                                                            <span class="thumbimagepath hidden"></span>
                                                            <input type="text" class="form-control browse productThumbImage" value="Thumbnail Image">
                                                        </div>
                                                    </td>
                                                    <td width="15%">
                                                        <div class="text-center">
                                                            <input type="radio" class="radioIsPrimary" name="rdoIsPrimary" />
                                                        </div>
                                                    </td>
                                                    <td width="15%">
                                                        <div class="action">
                                                            <a title="Delete Image" class="delete deleteImage" href="javascript:void(0);"></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer clearfix">
                                <button type="button" class="btn btn-default pull-left" data-bind="click: function () { Cancel($data) }">Cancel</button>
                                <button type="button" class="btn btn-primary pull-right" data-bind="click : function () { InsertProduct($data) }">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 text-center hidden" id="spanNoProduct">No data is available</div>
        <div class="col-md-3 col-sm-3 col-xs-12 " id="divproductList">
            <div class="row sidebar mCustomScrollbar" id="divProductDetail">


                <ul class="nav nav-sidebar" data-bind="foreach: ProductGrid.DataRows" id="ulProductGrid">
                    <li data-bind="attr : {id : 'liProduct'+Id}">
                        <a href="javascript:void(0);" data-bind="click: function () { $root.GetProductById($data.Id);}">
                            <span data-bind="text: (Name.length > 20 ? (Name.substring(0, 20) + '...') :  Name), attr:{title:Name}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12 " data-selector="divMainProductDetail">
            <div class="row">
                <div class="contentwrap">
                    <div class="inner-content">
                        <div class="row">
                            <!-- Product Heading -->
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="page-header">
                                    <h1><span id="spnProductName" data-bind="text: model.MainName"></span></h1>
                                </div>
                            </div>
                            <!-- Action On Buttons -->
                            <div class="col-md-6 col-sm-6 col-xs-12 clearfix">
                                <div class="action pull-right">
                                    <span class="hidden" data-bind="text:model.IsMapped"></span>
                                    <a href="#" class="copy" title="Copy Product" data-toggle="modal" data-target="#myModal" data-bind="click:ChangeOnCopy"></a>
                                    <a href="#" class="edit" title="Edit Product" data-toggle="modal" data-target="#myModal" data-bind="click : function () {  ChangeOnEdit() }"></a>
                                    <a href="#" data-bind="click : function () {  Delete() }" class="delete" title="Delete Product"></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 col-xs-12"><strong>Description: </strong></div>
                                    <div class="col-md-9 col-sm-12 col-xs-12" id="divProductDescription">
                                        <span data-bind="html: model.MainDescription"></span>
                                    </div>
                                </div>
                                <div class="row paddingT15">
                                    <div class="col-md-3 col-sm-3 col-xs-12"><strong>URL:</strong></div>
                                    <div class="col-md-9 col-sm-9 col-xs-12" id="divProductURL">
                                        <a data-bind="attr: { href: model.MainProductURL }" target="_blank"> <span data-bind="text: model.MainProductURL"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-12 ">
                                <!-- Slider Start -->
                                <div class="prod-slider hidden" id="divImageList">
                                    <!-- The main images -->
                                    <div class="slideImg">
                                        <ul id="slider" data-bind="foreach:ImageList">
                                            <!--ko if:$index() == 0 -->
                                            <li><img alt="" id="imgProduct" class="img-responsive" data-bind="attr:{src:ImagePath}"></li>
                                            <!--/ko-->
                                        </ul>
                                    </div>
                                    <!-- The thumbnails -->
                                    <div class="slider-pager">
                                        <a href="javascript:void(0)" class="slide-prev" data-bind="click:$root.PreviousImage"></a>
                                        <div id="slider-pager">
                                            <ul data-bind="foreach:ImageList">
                                                <!--ko if:$index() < 4 -->
                                                <li data-bind="attr:{'data-slideindex':$index()},css: { borderimageThumnail: $index() == 0}">
                                                    <a href="javascript:void(0)" id="imageThumbnail" data-bind="click:$root.SelectProductImage">
                                                        <img class="img-responsive" data-bind="attr:{src:ThumbnailPath}">
                                                    </a>
                                                </li>
                                                <!--/ko-->
                                            </ul>
                                        </div>
                                        <a href="javascript:void(0)" class="slide-next" data-bind="click:$root.NextImage"></a>
                                    </div>
                                </div>
                                <!-- Slider End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
