@using PatientPortal.DTOModel;
@model PatientPortal.DTOModel.QuestionDTO

<link href="~/Contents/css/jquery.dataTables.min.css" rel="stylesheet" />

<div class="content-area" id="divQuestion">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <input type="hidden" value="0" />
                <div class="add-product paddingTB10 clearfix">
                    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal" data-bind="click: function () { AddQuestion() }"> Add</button>

                    <!-- Modal Window -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <span type="button" class="close glyphicon glyphicon-remove" data-bind="click: function () { Cancel($data) }" aria-label="Close"></span>
                                    <h4 class="modal-title text-left" id="myModalLabel">Add Questions</h4>
                                </div>
                                <form class="form-horizontal" method="post" enctype="multipart/form-data">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-md-3 col-sm-3 col-xs-12 control-label text-left">Language:</label>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <select id="ddlLanguage" class="form-control"
                                                        data-bind="value: model.LanguageId, options: LanguageList, optionsText:'Name',optionsValue:'Id',  optionsCaption: 'Select'"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="textName" class="col-md-3 col-sm-3 col-xs-12 control-label ">Answer Input Type:</label>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <select id="ddlTextInputType" class="form-control"
                                                        data-bind="value: model.TextInputTypeId, options: TextInputTypeList, optionsText:'InputType', optionsValue:'Id',  optionsCaption: 'Select', event:{ change: TextInputTypeChange}"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="textName" class="col-md-3 col-sm-3 col-xs-12 control-label ">Question Type:</label>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <select id="ddlQuestionType" class="form-control"
                                                        data-bind="value: model.QuestionTypeId, options: QuestionTypeList, optionsText:'Type',optionsValue:'Id',  optionsCaption: 'Select', event:{ change: QuestionTypeChange}"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="textdesc" class="col-md-3 col-sm-3 col-xs-12 control-label ">Question Text:</label>
                                            <div class="col-md-7 col-sm-7 col-xs-12">
                                                <textarea class="form-control" id="textdesc" data-bind="value:model.Title" maxlength="254"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="textdesc" class="col-md-3 col-sm-3 col-xs-12 control-label ">&nbsp;</label>
                                            <div class="col-md-7 col-sm-7 col-xs-12">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6 col-md-12">
                                                        <div class="row">
                                                            <label for="textdesc" class="col-md-7 col-sm-7 col-xs-12 control-label ">Mandatary:</label>
                                                            <div class="col-md-3 col-sm-3 col-xs-12 checkbox-popup">
                                                                <input type="checkbox" data-bind="checked:model.IsMandatary" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 col-sm-6 col-md-12">
                                                        <div class="row">
                                                            <label for="textdesc" class="col-md-7 col-sm-7 col-xs-12 control-label ">Active:</label>
                                                            <div class="col-md-3 col-sm-3 col-xs-12 checkbox-popup">
                                                                <input type="checkbox" data-bind="checked:model.IsActive" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="uploadimg" class="col-md-12 col-sm-12 col-xs-12 control-label  ">Answer Option:</label>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="div-table-bordered">
                                                    <table class="table-popup table table-bordered" id="tblHeader">
                                                        <thead>
                                                            <tr>
                                                                <th width="30%">Text</th>
                                                                <th width="30%">Image</th>
                                                                <th width="30%">Tooltip</th>
                                                                <th width="10%"><div class="action"><a title="Add Answer" class="add-image" href="#" data-bind="click: function () { AddUpdateAnswer() }"></a></div></th>

                                                            </tr>
                                                        </thead>
                                                    </table>
                                                    <div id="divScroll" class="mCustomScrollbar">
                                                        <table class="table-popup table table-bordered" id="tblAnswer">
                                                            <tr id="answerTemplate" style="display:none;">
                                                                <td width="30%"><input type="text" class="form-control answerbox answerTitle" maxlength="254" /></td>
                                                                <td width="30%">
                                                                    <div class="browseStyle">
                                                                        <input class="form-control typefile" type="file">
                                                                        <img src="" class="thumb-img hidden" />
                                                                        <span class="imagepath hidden"></span>
                                                                        <input id="uploadimg" class="form-control browse" type="text" value="Upload Image">
                                                                    </div>
                                                                </td>
                                                                <td width="30%">
                                                                    <input type="text" class="form-control answerbox answerTooltip" maxlength="254" />
                                                                </td>
                                                                <td width="10%">
                                                                    <div class="action">
                                                                        <a title="Delete Answer" class="delete" href="javascript:void(0);"></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer clearfix">
                                        <button type="button" class="btn btn-default pull-left" data-bind="click: function () { Cancel($data) }">Cancel</button>
                                        <button type="button" id="btnSave" class="btn btn-primary pull-right" data-bind="click: function () { InsertQuestion($data) }">Save</button>
                                        <button type="button" id="btnUpdate" class="btn btn-primary pull-right" data-bind="click: function () { UpdateQuestion() }">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="question-table table-responsive">
                    <table class="table table-bordered tblid" id="tblQuestionList">
                        <thead>
                            <tr>
                                <th>Question ID<span class="sorting"></span></th>
                                <th>Questions<span class="sorting"></span></th>
                                <th>Type<span class="sorting"></span></th>
                                <th>Language<span class="sorting"></span></th>
                                <th>Status<span class="sorting"></span></th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: QuestionGrid.DataRows">
                            <tr data-bind="attr: { id: Id }">
                                <td>
                                    <span data-bind="text:$index() + 1"></span>
                                </td>
                                <td><span data-bind="text: (Title.length > 20 ? (Title.substring(0, 20) + '...') :  Title), attr:{title:Title}"></span></td>
                                <td><span data-bind="text: IQuestionTypeDTO.Type"></span></td>
                                <td><span data-bind="text: ILanguageDTO.Name"></span></td>
                                <td><span data-bind="text: IsActive ? 'Active' : 'Inactive'"></span></td>
                                <td>
                                    <span class="hidden" data-bind="text:IsMapped"></span>
                                    <div class="action">
                                        <a title="Edit Question" class="edit" href="#" data-toggle="modal" data-target="#myModal" data-bind="click: function () { $root.GetQuestionById($data);}"></a>
                                        <a title="Delete Question" class="delete" href="#" data-bind="click:function () { $root.DeleteQuestion($data, this); }"></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


