<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity configSource="Configurations\unity.config" />

  <appSettings>
    <add key="AutoFacModuleImplementorAssemblyNames" value="WOB.ERMS.Infrastructure.IoCRegistrationModule"/>

  </appSettings>
  <connectionStrings>
    <!--<add name="CommonDataContext" connectionString="Data Source=KUMAR1526NEW\SQL2008;Initial Catalog=ERMSShell;Persist Security Info=True;User Id=sa;Password=Passw0rd;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="CommonDataContext" connectionString="Data Source=VISHAL2213\SQLEXPRESS2012;Initial Catalog=ERMSTest;Persist Security Info=True;User Id=sa;Password=Passw0rd;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="CommonDataContext" connectionString="Data Source=ERMSShellNew\SQL2008;Initial Catalog=ERMS7;Persist Security Info=True;User Id=sa;Password=Passw0rd;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <add name="CommonDataContext" connectionString="Data Source=localhost;Initial Catalog=ErmsShell;Persist Security Info=True;integrated security=True;" providerName="System.Data.SqlClient"/>

    <!--<add name="CommonDataContext" connectionString="Data Source=SVRERMS\SQL2012;Initial Catalog=ErmsShell;Persist Security Info=True;User Id=sa;Password=Passw0rd;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="CommonDataContext" connectionString="Data Source=SVRERMS\SQL2012;Initial Catalog=ErmsShell;Persist Security Info=True;User Id=sa;Password=Passw0rd;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
</configuration>