
@{
    ViewBag.Title = "PatientLedger";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<form action="/Report/DownloadReportFile" method="post" id="_form">
    <div class="" style="padding-top:20px;">
        <div class="col-sm-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Patient Ledger</div>
                <div class="panel-body">
                    <input type="hidden" name="fileurl" id="_fileurl" value="" />
                    <table class="table table-bordered table-hover table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>I.P. No.</th>
                                <th>Type</th>
                                <th>V. No</th>
                                <th>Description</th>
                                <th>Payment</th>
                                <th>Receipt</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>13/10/2014</td>
                                <td>IP:2014/007620</td>
                                <td>GR</td>
                                <td>GR:2014/019992</td>
                                <td>ADVANCE RECEIVED FOR ADMISSION</td>
                                <td></td>
                                <td>2600.00</td>
                                <td>2600.00 Cr</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</form>

