
@{
    ViewBag.Title = "Report Viewing";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<div class="" style="padding-top:20px;">
    <div class="col-sm-12 col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Report Viewing</div>
            <div class="panel-body">
                <table class="table table-bordered table-hover table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>Reference No</th>
                            <th>Lab Name</th>
                            <th>Bill No.</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>GNREP032</td>
                            <td>Life Care Laboratory</td>
                            <td>1232</td>
                            <td>23-Aug-2018</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary">View</button>
                                    <button type="button" class="btn btn-primary">Download</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>GNREP036</td>
                            <td>Life Care Laboratory</td>
                            <td>1235</td>
                            <td>23-Aug-2018</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary">View</button>
                                    <button type="button" class="btn btn-primary">Download</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>



