
@{
    ViewBag.Title = "GetAppointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/App/Masters/Department.js"></script>
<div class="row" style="margin-top:50px;">
    <div class="col-sm-12 col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Department List</div>
            <div class="panel-body">
               <div class="pp-card">
                   <div class="col-md-2">
                       <span>1</span>
                   </div>
                   <div class="col-md-10"></div>
               </div>
            </div>
        </div>
    </div>

</div>



