@charset "utf-8";
/* CSS Document */

@import url('bootstrap.min.css');
@import url('fonts.css');


/*** Body CSS ***/

body, html {
    font-family: arial;
    font-size: 14px;
    line-height: 24px;
    color: #6e6e6e;
    height: 100%;
    word-wrap: break-word;
}


/**** Common Margins and Padding ***/
.padding15 {
    padding: 15px;
}

.paddingT15 {
    padding-top: 15px;
}

.paddingB15 {
    padding-bottom: 15px;
}

.paddingTB15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding10 {
    padding: 10px;
}

.paddingT10 {
    padding-top: 10px;
}

.paddingB10 {
    padding-bottom: 10px;
}

.paddingTB10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.paddingL10 {
    padding-left: 10px;
}

.paddingR25 {
    padding-right: 25px;
}

.marginT150 {
    margin-top: 150px !important;
}

.marginL15 {
    /*margin-left: 15px !important;*/
    float: right;
}

.marginT15 {
margin-top:15px;
}

.margin-B5 {
    margin-bottom: -5px;
}
/*** Page Wrap ***/
.pagewrap {
    min-height: 100%;
    margin-bottom: -49px;
    overflow: hidden;
}

.userpage {
    background: rgba(0, 0, 0, 0) url("../images/footer-bg.png") no-repeat scroll center bottom;
}


.loginbg {
    min-height: 100%;
    margin-bottom: -49px;
    background: url(../images/bg.jpg) no-repeat 0 0 / cover;
}
/****** Header CSS ******/

header {
    padding: 8px 0;
}

    header .nextouch {
        padding-top: 20px;
    }

.nextouch {
    font-family: "HelveticaNeueLTPro-Bd",open_sansregular;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    line-height: 28px;
}

    .nextouch span {
        font-family: open_sansregular;
        font-style: italic;
        font-size: 14px;
        font-weight: normal;
        line-height: 15px;
    }

.top-nav {
    width: 79%;
}

    .top-nav ul {
        overflow: hidden;
    }

        .top-nav ul li {
            display: inline-block;
            padding: 0 10px;
            border-left: 1px solid #babfc0;
            float: left;
            font-size: 14px;
        }

            .top-nav ul li:first-child {
                border-left: 0px solid #babfc0;
            }

    .top-nav li a {
        text-decoration: none;
        color: #000;
    }

    .top-nav li:hover a, .top-nav li:hover .glyphicon-question-sign, .top-nav li:hover .fa-sign-out {
        color: #8ce6ff;
    }

    .top-nav .glyphicon-user {
        font-size: 13px;
    }

    .top-nav .glyphicon-question-sign {
        font-size: 13px;
    }

    .top-nav .fa-sign-out {
        font-size: 15px;
    }

.welcomeuser, .signout {
    color: #000;
    line-height: 16px;
    padding: 16px 15px;
    font-size: 14px;
    display: inline-block;
}

.signout {
    padding-right: 0;
    cursor: pointer;
}

    .signout:hover, .signout:focus {
        color: #fff;
        text-decoration: none;
    }

    .welcomeuser .glyphicon.glyphicon-user, .signout .glyphicon.glyphicon-log-out {
        font-size: 18px;
        margin-right: 5px;
        display: block;
        float: left;
        margin-top: -3px;
    }

.welcomeuser, .signin {
    color: #000;
    line-height: 16px;
    padding: 16px 15px;
    font-size: 14px;
    display: inline-block;
}

.signin {
    padding-right: 0;
    cursor: pointer;
}

    .signin:hover, .signin:focus {
        color: #fff;
        text-decoration: none;
    }

    .welcomeuser .glyphicon.glyphicon-user, .signin .glyphicon.glyphicon-log-in {
        font-size: 18px;
        margin-right: 5px;
        display: block;
        float: left;
        margin-top: -3px;
    }


.desc h4 {
    font-size: 15px;
    font-weight: bold;
    line-height: 26px;
}

/**** Navigation CSS ***/

.main-navigation {
    background: #ffcc00;
    box-shadow: 1px 1px 3px #bcbcbc;
}

.navbar-toggle .icon-bar {
    background: #fff;
}

.main-navigation .nav > li {
    padding: 0 15px;
}

    .main-navigation .nav > li > a {
        color: #000000;
        font-size: 14px;
        line-height: 14px;
        font-weight: normal;
        padding: 17px 15px;
    }
     .main-navigation .nav > li > a:focus, .main-navigation .nav > li > a:hover{
         color:#fff;
         background:none;
     }
       .main-navigation .nav > li.active > a {
            background: #ffb400;
            display: block;
            color:#fff;
        }



    .main-navigation .nav > li.active {
        position: relative;
    }

.navbar-collapse {
    padding: 0;
}


.main-navigation a.link-disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}

    .main-navigation a.link-disabled:hover {
        color: #000000 !important;
    }

/*.main-navigation .nav > li.active:before{ content: ""; width: 0; height: 0; border-top: 10px solid transparent;	border-bottom: 0px solid transparent; border-right:15px solid #00a6d3; position: absolute; left:0px; top:-10px; z-index: 9; }
    .main-navigation .nav > li.active:after{ content: ""; width: 0; height: 0; border-top: 10px solid transparent;	border-bottom: 0px solid transparent; border-left:15px solid #00a6d3; position: absolute; right: 0px; top:-10px; z-index: 9; } */


#navbar .glyphicon {
    font-size: 21px;
    float: left;
    margin-right: 5px;
}

    #navbar .glyphicon.glyphicon-tasks {
        font-size: 18px;
        margin-top: -3px;
    }

    #navbar .glyphicon.glyphicon-question-sign {
        margin-top: -4px;
    }

    #navbar .glyphicon.glyphicon-time {
        margin-top: -5px;
    }

    #navbar .glyphicon.glyphicon-compressed, #navbar .glyphicon.glyphicon-ok, #navbar .glyphicon.glyphicon-info-sign {
        margin-top: -4px;
    }

a:focus {
    outline: none;
}


/*** Content Area CSS ****/
.content-area {
    padding-bottom: 15px;
    margin-bottom: 125px;
}




/***** Action Items CSS ***/
.action {
    text-align: left;
}

    .action a {
        display: inline-block;
        margin-left: 10px;
        color: #000;
        opacity: 0.4;
    }

        .action a:hover {
            opacity: 0.7;
        }

    .action .copy {
        width: 20px;
        height: 24px;
        background: url(../images/icons.png) no-repeat 0 0/cover;
    }

    .action .copylink {
        width: 23px;
        height: 24px;
        background: url(../images/icons.png) no-repeat -340px 0/cover;
    }

    .action .edit {
        width: 24px;
        height: 24px;
        background: url(../images/icons.png) no-repeat -35px 0px/cover;
    }

    .action .view {
        width: 25px;
        height: 24px;
        background: url(../images/icons.png) no-repeat -199px 0px/cover;
    }

    .action .delete {
        width: 19px;
        height: 24px;
        background: url(../images/icons.png) no-repeat -75px 0px/cover;
    }

.grey-delete {
    display: block;
    width: 22px;
    height: 29px;
    margin-top: 3px;
    background: url(../images/icons.png) no-repeat -136px 0px/cover;
    cursor: pointer;
}

.add-image {
    display: inline-block;
    width: 23px;
    height: 22px;
    background: url(../images/icons.png) no-repeat -138px 0px/cover;
    cursor: pointer;
}

.action .pdf-download {
    width: 19px;
    height: 24px;
    background: url(../images/icons.png) no-repeat -294px 0px/cover;
    opacity: 0.6;
}

.action a.pdf-download:hover {
    opacity: 10;
}

.table-popup .action a {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    opacity: 0.3;
}

    .table-popup .action a.add-image {
        opacity: 0.7;
    }

    .table-popup .action a:hover {
        opacity: 0.4;
    }

    .table-popup .action a.add-image:hover {
        opacity: 10;
    }



/**** Sidebar Block *******/

.sidebar {
    height: 433px;
    overflow: hidden;
}

    .sidebar .nav-sidebar li {
        padding: 0 15px;
        color: #6e6e6e;
        border-radius: 5px 0px 0px 5px;
        -webkit-border-radius: 5px 0px 0px 5px;
        -moz-border-radius: 5px 0px 0px 5px;
    }

        .sidebar .nav-sidebar li.active {
            background: #eeeeee;
            border-left: 1px solid #edeaea;
            border-top: 1px solid #edeaea;
            border-bottom: 1px solid #edeaea;
        }

        .sidebar .nav-sidebar li a {
            color: #6e6e6e;
            text-decoration: none;
            font-size: 16px;
            padding: 12px 15px;
            text-overflow: ellipsis;
            overflow: hidden;
            word-wrap: normal;
            white-space: nowrap;
        }

    .sidebar .nav > li:hover {
        background: #eeeeee;
    }

    .sidebar .nav > li > a:focus, .sidebar .nav > li > a:hover {
        outline: none;
        border: 0;
        background: none;
    }


/*** Content Block ***/

.contentwrap {
    background: #eee;
    padding: 15px;
    border-right: 1px solid #edeaea;
    border-top: 1px solid #edeaea;
    border-bottom: 1px solid #edeaea;
    border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
}

    .contentwrap .page-header, .contentwrap .page-header h1 {
        margin: 0 0 0px 0;
    }

    .contentwrap .page-header {
        margin: 0 0 10px 0;
    }

        .contentwrap .page-header h1 {
            font-size: 20px;
            color: #7c7c7c;
        }

.inner-content {
    background: #fff;
    padding: 15px;
    min-height: 402px;
}

#divProductDescription {
    text-align: justify;
    word-wrap: break-word;
}
/******** Product Slider CSS *********/

.prod-slider {
    border: 1px solid #dedede;
    background: #f3f3f3;
    padding: 15px;
    overflow: hidden;
}

    .prod-slider div.slideImg {
        overflow: hidden;
    }

div.slideImg:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul#slider, ul#slider li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul#slider {
    width: 1965px;
}

    ul#slider li {
        float: left;
        height: 176px;
        width: 280px;
        background: #fff;
        border: 1px solid #ffcc00;
        margin-bottom: 20px !important;
        text-align: center;
    }

        ul#slider li img {
            margin: 0 auto;
            height: 100%;
        }

#slider-pager {
    float: left;
    overflow: hidden;
    width: 87%;
}

    #slider-pager ul {
        padding: 0;
        margin: 0;
        list-style: none;
        width: 360px;
    }

        #slider-pager ul li {
            width: 50px;
            height: 50px;
            float: left;
            border: 1px solid #000;
            margin: 0 0 0 10px;
            background: #fff;
        }

            #slider-pager ul li img {
                width: 100%;
                height: 100%;
            }

.slide-prev {
    background: url("../images/controls.png") no-repeat -8px -32px;
    width: 16px;
    height: 32px;
    float: left;
    margin-top: 10px;
}

.slide-next {
    background: url("../images/controls.png") no-repeat -51px -32px;
    width: 16px;
    height: 32px;
    float: right;
    margin-top: 10px;
}

.slide-prev:hover {
    background-position: -8px 0;
}

.slide-next:hover {
    background-position: -51px 0;
}
/****** Modal Window *****/
.modal-content {
    border-radius: 2px;
    border: 1px solid #ffd52d;
    padding: 15px;
}

#modelLogin .modal-dialog, #LoginModel .modal-dialog {
    width: 500px;
}

.modal-dialog {
    width: 700px;
}

.modal-lg {
    width: 900px;
}

.modal-header {
    color: #000;
    padding: 0 0px 15px;
}

.modal-body, .modal-footer {
    padding-left: 0;
    padding-right: 0;
}

.modal-header .modal-title {
    font-size: 20px;
    line-height: 20px;
}

.modal-content .glyphicon-remove {
    font-size: 18px;
    font-weight: normal !important;
    margin-top: -2px;
    opacity: 5;
    color: #000;
    text-shadow: none;
}

.modal-content .form-horizontal .control-label {
    font-weight: normal;
    text-align: left;
}

.form-control {
    border: 1px solid #8b8b8b;
    border-radius: 2px;
    color: #8b8b8b;
    box-shadow: none;
}

.modal-body {
    font-size: 14px;
}

.modal-content .fa-trash, .modal-content .fa-plus-square-o {
    font-size: 25px;
    color: #026f8d;
}

/* Page Header */
.page-header, .page-header h1 {
    margin: 20px 0;
    padding: 0;
    border: 0;
    font-size: 22px;
    color: #000;
    line-height: 20px;
}

    .page-header h1 {
        margin: 0px 0;
    }

.logo a {
    float: left;
}

.nextouch {
    float: right;
}

.loginheader .logo a {
    float: none;
    display: inline-block;
    margin: 0 auto;
}

.loginheader .nextouch {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Login CSS */
.loginheader {
    background: #f8f8f8 none repeat scroll 0 0;
    border-bottom: 1px solid #ffcc00;
}

.login-area {
    position: relative;
    height: 584px;
}

.login-form {
    border: 1px solid #ffcc00;
    border-radius: 6px;
    box-shadow: 0 0 9px #ddd;
    padding: 40px;
    position: relative;
    background: #fff;
}

    .login-form .alert {
        width: 100%;
        background: none;
        padding: 0 0 10px 0;
        margin: 0;
        border: 0;
        font-size: 13px;
        text-align: center;
        line-height: 13px;
    }

.alert-danger {
    color: #ff0000;
}

.login-footer {
    background: #eee none repeat scroll 0 0;
    border-top: 1px solid #ffcc00;
    padding: 10px 0;
}

.login-field-area {
    bottom: 0;
    height: 305px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
}
/* Form CSS */
.form-control {
    border: 1px solid #d6d6d6;
    border-radius: 4px;
}

.form-horizontal {
    margin-bottom: 0;
}

    .form-horizontal .control-label {
        font-weight: normal;
    }

.signin-form, .forgot-password-form {
    padding: 0 15px;
}

    .signin-form .form-group:last-child {
        margin-bottom: 0;
    }

#modelLogin .page-header {
    border-bottom: 1px solid #eee;
    margin-top: 0;
    padding-bottom: 15px;
}

#modelLogin .modal-content .form-horizontal .control-label, #LoginModel .modal-content .form-horizontal .control-label {
    text-align: right;
}

.btn-default {
    background: #fff;
    border: 1px solid #a8a8a8;
    color: #000;
}

.browse {
    background: url(../images/browse-img.png) no-repeat right 0/contain;
    padding-right: 45px;
}

.browseStyle {
    position: relative;
}

.typefile {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.btn-primary {
    background: #a8a8a8;
    color: #fff;
    border: 0;
    font-size: 16px;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover {
        background: #ffcc00;
        color: #000;
    }

.login-field-area .page-header {
    border-bottom: 1px solid #e2e2e2;
    margin-top: 0;
    padding-bottom: 10px;
}

    .login-field-area .page-header h1 {
        margin: 0;
    }

.validationMessage {
    display: block;
    text-align: left;
    font-size: 11px;
    color: #ff0000;
}

/*** Footer CSS ***/
.footer {
    padding: 10px 0;
    border-top: 1px solid #c9c8c8;
    font-size: 14px;
}

.footer-logo img {
    float: right;
    margin: 8px 0;
}

.user-footer {
    border-top: 0 !important;
    background: #e8e8e8;
}


/** Survey Page CSS **/
.survey-content {
    border: 1px solid #ffcc00;
    padding: 30px;
    min-height: 428px;
    position: relative;
}

.small-popover {
    right: 15px;
    top: -12px;
    z-index: 2;
    position: absolute;
    width: auto;
    width: 270px;
}

.popover-btn {
    border: 1px solid #c2c2c2;
    border-radius: 0 0 6px 6px;
    cursor: pointer;
    position: relative;
    width: auto;
    text-align: center;
    padding: 5px 30px;
    background: #fff;
    display: block;
    color: #6e6e6e;
}

    .popover-btn:hover {
        text-decoration: none;
        background: #eee;
        color: #000;
    }

    .popover-btn:before {
        border-bottom: 0 solid transparent;
        border-right: 11px solid #6e6e6e;
        border-top: 10px solid transparent;
        content: "";
        height: 0;
        left: -12px;
        position: absolute;
        top: 0px;
        width: 0;
        z-index: 9;
    }

    .popover-btn:after {
        border-bottom: 0 solid transparent;
        border-left: 11px solid #6e6e6e;
        border-top: 10px solid transparent;
        content: "";
        height: 0;
        position: absolute;
        right: -12px;
        top: 0px;
        width: 0;
        z-index: 9;
    }

.popover-detail {
    font-size: 12px;
    border-bottom: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
    padding: 10px;
    line-height: 18px;
    background: #fff;
}


.survey-content .error {
    padding: 0px 0 0 60px;
    display: block;
}


/** Common Page CSS **/
.content-container {
    border: 1px solid #ffcc00;
    padding: 20px 10px 30px 30px;
}

    .content-container .radio {
        margin-top: 0;
        margin-bottom: 20px;
    }


.yellow-link {
    color: #ffcc00;
}

    .yellow-link:hover, .yellow-link:focus {
        color: #ffcc00;
        text-decoration: underline;
    }

.custom-scroll-common {
    height: 350px;
    overflow: hidden;
}

    .custom-scroll-common .mCSB_container {
        padding-right: 0 !important;
    }

.list-recommendation {
    margin: 0 0px 0 0;
    padding: 0 25px 0 0;
    list-style: none;
}

    .list-recommendation li {
        margin: 0 0 15px;
        padding: 15px;
        background: #f8f8f8; /* Old browsers */
        background: -moz-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f8f8f8 0%,#f1f1f1 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f8f8f8 0%,#f1f1f1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f1f1f1',GradientType=0 );
        font-size: 16px;
        line-height: 24px;
        color: #6e6e6e;
    }

        .list-recommendation li ul {
            margin: 0 0 0 18px;
            padding: 0;
            list-style: disc;
            background: none;
        }

            .list-recommendation li ul li {
                margin: 0 0 0 0px;
                padding: 0;
                background: none;
            }

        .list-recommendation li:last-child {
            margin-bottom: 0;
        }

/*.list-recommendation li h3 {
            font-size: 20px;
            font-weight: normal;
            margin: 0 0 15px 0;
            padding: 0 0 5px 0;
            border-bottom: 1px solid #dcd9d9;
            color: #000000;
        }*/

.list-recommendation-product {
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 5px 0;
    padding: 0 0 0 0;
    color: #000000;
}

.list-recommendation-product-border {
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 15px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #dcd9d9;
    color: #000000;
}


.img-area {
    background: #f3f3f3;
    padding: 10px;
    text-align: center;
}

/*** Additional Information ***/
.grey-area {
    background: #f8f8f8; /* Old browsers */
    background: -moz-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f8f8f8 0%,#f1f1f1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f8f8f8 0%,#f1f1f1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f1f1f1',GradientType=0 );
    padding: 20px 20px 10px 20px;
    margin-bottom: 30px;
}


/*** Carousal CSS **/
.carousel-indicators {
    display: none;
}

.carousel {
    min-height: 365px;
}

.carousel-control.right, .carousel-control.left {
    background: none;
    width: 40px;
}

.glyphicon.glyphicon-menu-left, .glyphicon.glyphicon-menu-right {
    color: #000;
    font-size: 38px;
}

.carousel-control {
    text-shadow: none;
    opacity: 10;
}

.carousel-inner {
    padding: 0px 45px 0;
    overflow: visible !important;
}

    .carousel-inner .qustion {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

.option .custom-checkbox {
    display: block;
    width: 38px;
    height: 37px;
    background: url(../images/custom-checkbox.png) no-repeat 0 -57px/cover;
    margin-bottom: 15px;
}

    .option .custom-checkbox.active {
        display: block;
        width: 38px;
        height: 37px;
        background: url(../images/custom-checkbox.png) no-repeat 0 0/cover;
    }

    .option .custom-checkbox .check-opt {
        opacity: 0;
        width: 38px;
        height: 37px;
        margin: 0;
        cursor: pointer;
    }

.option {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 60px;
}

    .option .custom-radio {
        display: block;
        width: 38px;
        height: 37px;
        background: url(../images/custom-radio.png) no-repeat 0 -57px/cover;
        margin-bottom: 15px;
    }

        .option .custom-radio.active {
            display: block;
            width: 38px;
            height: 37px;
            background: url(../images/custom-radio.png) no-repeat 0 0/cover;
        }

        .option .custom-radio .radio-opt {
            opacity: 0;
            width: 38px;
            height: 37px;
            margin: 0;
            cursor: pointer;
        }



.custom-radio-small {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/custom-radio1.png) no-repeat 0 -30px/ cover;
    float: left;
    margin-left: -20px;
    margin-right: 10px;
}

    .custom-radio-small input[type="radio"] {
        margin: 0px;
        width: 20px;
        height: 20px;
        opacity: 0;
    }

    .custom-radio-small.active {
        background: url(../images/custom-radio1.png) no-repeat 0 0/ cover;
    }

.custom-checkbox-small {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/custom-checkbox1.png) no-repeat 0 -30px/ cover;
    float: left;
    margin-left: -20px;
    margin-right: 10px;
}


    .custom-checkbox-small input[type="checkbox"] {
        margin: 0px;
        width: 20px;
        height: 20px;
        opacity: 0;
    }

    .custom-checkbox-small.active {
        background: url(../images/custom-checkbox1.png) no-repeat 0 0/ cover;
    }


#divAdditionalInfo .checkbox label {
    display: block;
    overflow: hidden;
}

.label-text {
    width: 90%;
    float: left;
}

.prod-img {
    border: 1px solid #d6d6d6;
    background: #f3f3f3;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 15px;
    height: 180px;
}

    .prod-img img {
        margin: 0 auto;
        height: 100%;
    }

.prod-detail {
    background: #dedede;
    padding: 10px;
    color: #6e6e6e;
    font-size: 14px;
    line-height: 21px;
    word-wrap: break-word;
    position: absolute;
    z-index: 9;
    min-height: 83px;
    top: 245px;
    width: 100%;
}


.thumb-img {
    width: 50px;
    height: 50px;
    border: 1px solid #9a9a9a;
}

/*** Progress Bar **/
.progress {
    margin: 20px 0;
}

.progress-bar {
    background: #ffcc00;
}

/*** Range ***/
#master {
    width: 100% !important;
}

.ui-widget-content {
    background: #bebebe none repeat scroll 0 0 !important;
    border: 0px solid #b0b0b0 !important;
    border-radius: 6px !important;
    margin-top: 100px !important;
}

.ui-widget-header {
    background: #ffcc00 !important;
    border-radius: 6px !important;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -1em !important;
}

.ui-slider .ui-slider-handle {
    background: #79888c none repeat scroll 0 0 !important;
    border: 0 none !important;
    color: #fff !important;
    font-size: 12px;
    height: 2.5em !important;
    line-height: 18px;
    padding: 5px;
    text-align: center;
    width: 3em !important;
}



.rangetext {
    font-size: 16px;
    margin-top: 20px;
    font-family: 'open_sansbold';
}

.range-icon {
    display: inline-block;
    margin-top: 91px;
    border: 1px solid #eee;
    width: 25px;
    height: 26px;
    background: #595959; /* Old browsers */
    background: -moz-linear-gradient(top, #595959 1%, #5b5b5b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #595959 1%,#5b5b5b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #595959 1%,#5b5b5b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#5b5b5b',GradientType=0 );
}

    .range-icon.glyphicon-minus {
        padding: 5px 5px 5px 3px;
        color: #fff;
    }

    .range-icon.glyphicon-plus {
        padding: 4px 5px 5px 5px;
        color: #fff;
    }


.carousel .glyphicon.glyphicon-menu-left, .carousel .glyphicon.glyphicon-menu-right {
    position: absolute;
    margin: auto !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 35px;
}



/*** Table CSS **/



.div-table-bordered {
    border: 1px solid #ffcc00;
}

.table-bordered.table-popup {
    border: 0px solid #ffcc00;
}

.table-bordered {
    border: 0px solid #ffcc00;
    margin: 0;
}

    .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border-top: 0px solid #999;
        border-right: 1px solid #999;
        border-left: 0px solid #999;
        border-bottom: 1px solid #999;
    }

        .table-bordered > tbody > tr > td:last-child, .table-bordered > tbody > tr > th:last-child, .table-bordered > tfoot > tr > td:last-child, .table-bordered > tfoot > tr > th:last-child, .table-bordered > thead > tr > td:last-child, .table-bordered > thead > tr > th:last-child {
            border-right: 0px solid #999;
        }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 14px 12px;
    line-height: 18px;
    font-size: 14px;
}

.table-bordered > tbody > tr:last-child > td, .table-bordered > tbody > tr:last-child > th, .table-bordered > tfoot > tr:last-child > td, .table-bordered > tfoot > tr:last-child > th, .table-bordered > thead > tr:last-child > td, .table-bordered > thead > tr:last-child > th {
    border-bottom: 0;
}


table.dataTable.no-footer {
    border-bottom: 0px solid #ffcc00 !important;
}


.table-responsive {
    border: 1px solid #ffcc00;
}

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
    font-weight: normal;
    color: #000;
    padding: 18px 12px;
    font-size: 14px;
    background: #fefefe; /* Old browsers */
    background: -moz-linear-gradient(top, #fefefe 0%, #f3f3f3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fefefe 0%,#f3f3f3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fefefe 0%,#f3f3f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f3f3f3',GradientType=0 );
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #ddd;
}

    .table > caption + thead > tr:first-child > td:last-child, .table > caption + thead > tr:first-child > th:last-child, .table > colgroup + thead > tr:first-child > td:last-child, .table > colgroup + thead > tr:first-child > th:last-child, .table > thead:first-child > tr:first-child > td:last-child, .table > thead:first-child > tr:first-child > th:last-child {
        border-right: 0;
    }

.table.table-popup > tbody > tr > td, .table.table-popup > tbody > tr > th, .table.table-popup > tfoot > tr > td, .table.table-popup > tfoot > tr > th, .table.table-popup > thead > tr > td, .table.table-popup > thead > tr > th {
    padding: 10px 10px;
    line-height: 18px;
    font-size: 14px;
}

.table.table-popup > caption + thead > tr:first-child > td, .table.table-popup > caption + thead > tr:first-child > th, .table.table-popup > colgroup + thead > tr:first-child > td, .table.table-popup > colgroup + thead > tr:first-child > th, .table.table-popup > thead:first-child > tr:first-child > td, .table.table-popup > thead:first-child > tr:first-child > th {
    font-weight: normal;
    color: #000;
    padding: 10px 10px;
    font-size: 14px;
}

#divQuestion .table-responsive {
    border: 0 !important;
}

    #divQuestion .table-responsive #tblQuestionList {
        border: 1px solid #ffcc00 !important;
        width: 99.6%;
    }


#surveyDiv .table-responsive {
    border: 0 !important;
}

    #surveyDiv .table-responsive #tblSurveyList {
        border: 1px solid #ffcc00 !important;
        width: 99.6%;
    }


span.sorting {
    float: right;
    position: relative;
    width: 7px;
}

    span.sorting:before {
        border-top: 5px solid #333;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        top: 11px;
        left: 0;
        right: 0px;
        margin: 0 auto;
    }

    span.sorting:after {
        border-bottom: 5px solid #333;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 4px;
        left: 0;
        right: 0px;
        margin: 0 auto;
    }



.scroll {
    height: 200px;
    overflow: hidden;
    margin-top: -1px;
}

.scroll-draggable {
    height: 175px;
    overflow: hidden;
}

.scroll-VH {
    height: 200px;
    overflow: hidden;
    margin-top: -1px;
}

.content-scroll {
    /* width: 1000px; */
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    height: 4px !important;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    height: 8px !important;
    margin: 5px auto !important;
}

.mCSB_scrollTools {
    width: 30px !important;
    right: -13px !important;
}

/*** Drag n Drop **/
#treeview-left,
#treeview-right {
    overflow: visible;
}

.draggable ul.k-group {
    overflow: hidden;
}

    .draggable ul.k-group li {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #d6d6d6;
    }

        .draggable ul.k-group li:last-child {
            border-bottom: 0px solid #d6d6d6;
        }

.draggable, .droppable {
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 5px 10px;
}


    .draggable .k-treeview {
        padding-right: 25px;
    }

.k-state-selected, .k-button:active, .k-button.k-state-active, .k-draghandle.k-state-selected:hover {
    color: #000000 !important;
}

.k-state-focused, .k-list > .k-state-focused, .k-listview > .k-state-focused, .k-grid-header th.k-state-focused, td.k-state-focused, .k-button.k-state-focused {
    box-shadow: none !important;
}



.k-block, .k-widget, .k-popup, .k-content, .k-toolbar, .k-dropdown .k-input {
    color: #6e6e6e !important;
}

.k-item .k-icon.k-plus {
    background: url(../images/collapse-expand-icon.png) no-repeat 2px -27px / 100% auto !important;
    width: 12px !important;
    height: 10px !important;
}

.k-item .k-icon.k-minus {
    background: url(../images/collapse-expand-icon.png) no-repeat 0 1px / 100% auto !important;
    width: 12px !important;
    height: 10px !important;
}


.k-icon {
    float: left;
    margin-top: 6px !important;
}

.k-in {
    width: 90%;
}

.draggable .k-in {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 18px;
    white-space: nowrap;
}

.droppable {
}

    .droppable h4 {
        margin: 5px 0 10px !important;
        color: #464646;
        font-size: 18px;
        line-height: 18px;
    }

    .droppable ul.k-group, .droppable #treeview-bottom > ul.k-group > .k-item {
        margin: 0;
        padding: 0 !important;
    }


    .droppable .k-treeview .k-plus, .droppable .k-treeview .k-minus, .droppable .k-treeview .k-plus-disabled, .droppable .k-treeview .k-minus-disabled {
        margin-left: 0px;
    }

    .droppable ul.k-group li.k-item .k-top, .droppable li.k-item .k-bot, .droppable li.k-item .k-mid {
        padding: 5px 0px !important;
    }

.k-sprite.questionFolder, .k-sprite.productFolder, .k-sprite.productFolder, .k-sprite.answerFolder {
    display: none;
}

#ProductListTreeView ul li {
    padding-left: 0;
}


/*.k-treeview .k-in{   border: 0 none !important;
    margin: 0 !important;
    padding: 0 !important; }*/

div.k-treeview {
    white-space: normal !important;
}

.k-treeview .k-plus, .k-treeview .k-minus, .k-treeview .k-plus-disabled, .k-treeview .k-minus-disabled {
    margin-right: 4px;
}


/* For Selected Nodes */

.k-state-selected, .k-button:active, .k-button.k-state-active, .k-draghandle.k-state-selected:hover {
    /* background: none !important; */
    ; /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #666666 100%) !important;
    ; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#666666 100%) !important;
    ; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%,#666666 100%) !important;
    ; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#666666',GradientType=0 ) !important;
    ;
    color: #fff !important;
}


/*** Button Remove node ***/

.button-remove {
    float: left;
}

    .button-remove .glyphicon-remove {
        color: #ff0000;
        float: left;
    }

.remove-node {
    background: none;
    border: 0;
    color: #ff0000;
    line-height: 13px;
    float: left;
}

    .remove-node:focus {
        outline: none;
    }

#spnSurveyLink {
    display: block;
    word-break: break-word;
    width: 100%;
}

.btn-text {
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
}

#pIntroductionDescription {
    text-align: justify;
}


/** Not Found CSS */
.not-found {
    margin: 150px 0px 0;
    font-size: 30px;
    text-align: center;
    border: 1px solid #ffcc00;
    padding: 30px;
}

    .not-found a {
        font-size: 14px;
    }

.checkbox-popup input[type="checkbox"] {
    margin: 11px 0 0;
}

/** For Admin Non Responsivness Page **/



/*** Loading CSS **/
.loading {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    position: fixed;
    z-index: 9999 !important;
}

    .loading img {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        max-width: 100%;
    }

.survey-message {
    font-size: 14px;
    font-weight: normal;
}

.click-btn {
    font-size: 18px;
    font-weight: normal;
    text-decoration: underline;
    color: #007eff;
}

    .click-btn:hover {
        color: #007eff;
    }

.display-block {
    display: block;
}
/*** Addition CSS ****/

.editorheight > table {
    height: 150px \0/ !important;
}

.left.carousel-control, .right.carousel-control {
    filter: none !important;
}
/** Media Query For Responsive Design **/

/** For Tablet CSS **/
@media only screen and (max-width: 1024px) {
    #slider-pager {
        width: 84%;
    }

    ul#slider li {
        width: 219px;
    }
}

@media only screen and (max-width: 1023px) {
    #modelLogin .modal-content .form-horizontal .control-label, #LoginModel .modal-content .form-horizontal .control-label {
        text-align: left;
    }


    .nextouch {
        font-size: 34px;
    }

    .form-horizontal .control-label {
        text-align: left;
    }

    .img-responsive {
        margin: 0 auto;
    }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }


    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .collapsing {
        overflow: hidden !important;
    }

    .main-navigation .nav > li:first-child a {
        padding-left: 15px;
    }

    .carousel-inner {
        padding: 0 35px;
    }

    .ui-widget-content {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 75px !important;
    }

    #slider-pager {
        width: 76%;
    }

        #slider-pager ul li {
            width: 46px;
            height: 48px;
        }

    ul#slider li {
        height: 115px;
        width: 150px;
    }

    .footer-logo img {
        float: left;
    }

    .footer .text-center, .footer .text-left, .login-footer .text-center {
        text-align: left;
    }

    .login-footer .prod-img {
        height: 140px;
    }

    .login-field-area {
        height: 366px;
    }

    .survey-content .error {
        padding: 0px 0px 0px 50px;
    }

    .userpage {
        background: rgba(0, 0, 0, 0) url("../images/footer-bg-tab.png") no-repeat scroll center bottom / contain;
    }

    .custom-scroll-common {
        height: 450px;
    }

    .pagewrap.userpage {
        margin-bottom: -95px;
    }

    .content-area {
        padding-bottom: 15px;
        margin-bottom: 125px;
    }

    .range-icon {
        margin-top: 68px;
    }
}


/** For Mobile  CSS **/
@media only screen and (max-width: 767px) {

    .login-area {
        height: auto;
    }

    .login-field-area {
        margin-top: 50px;
    }

    .loginheader .nextouch {
        font-size: 30px;
    }

    .nextouch {
        text-align: center;
        font-size: 30px;
    }

    .logo a {
        float: none;
    }

    header .nextouch {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .navbar-collapse {
        border-top: 1px solid #fff;
    }

    .navbar-nav {
        margin: 0px;
    }

    .main-navigation .nav > li:first-child a {
        padding-left: 0px;
    }

    .main-navigation .nav > li > a {
        padding-left: 0;
        padding-right: 0;
    }

    .login-detail {
        text-align: left;
    }

    .login-detail {
        border-top: 1px solid #fff;
    }

        .login-detail .welcomeuser, .login-detail .signout {
            padding-left: 0;
        }


    .survey-content {
        padding: 40px 15px 15px;
        position: relative;
    }

        .survey-content .error {
            display: block;
            padding: 0;
            text-align: center;
        }

    .glyphicon.glyphicon-menu-left, .glyphicon.glyphicon-menu-right {
        font-size: 30px;
    }

    .carousel-inner .qustion {
        font-size: 16px;
        line-height: 27px;
    }

    .ui-widget-content {
        margin-top: 53px !important;
    }

    .survey-content .option {
        margin-bottom: 15px;
    }

    .survey-content .prod-img {
        margin-bottom: 5px;
    }

    .option .custom-checkbox {
        margin: 0 auto;
    }

    .recommendedtext {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        font-size: 12pt;
        font-family: Arial,Helvetica,sans-serif;
    }

    .login-form {
        height: auto !important;
        margin-bottom: 130px;
    }

    .login-field-area {
        height: auto;
        position: static;
        width: 100%;
    }

    .modal-dialog {
        width: auto;
    }

    .browseStyle {
        margin-bottom: 10px;
    }

    #slider-pager {
        width: 165px;
    }

        #slider-pager ul li {
            margin: 0 0 0 7px;
        }

    ul#slider li {
        width: 197px;
    }


    .prod-img {
        height: auto;
    }

    #modelLogin .modal-content .form-horizontal .control-label, #LoginModel .modal-content .form-horizontal .control-label {
        text-align: left;
    }

    #modelLogin .modal-dialog, #LoginModel .modal-dialog {
        width: auto;
    }

    .table, .table.dataTable {
        width: auto !important;
        max-width: none !important;
    }

    #tblSurveyList, #divQuestion .table-responsive #tblQuestionList {
        width: 1000px !important;
    }

    #tblRecommendedList {
        width: 100% !important;
    }

    .pagewrap.userpage {
        margin-bottom: -39px;
    }

    .ui-widget-content {
        margin-top: 25px !important;
    }

    .range-icon {
        margin-top: 0px;
    }

    .rangeSlider .text-right, .rangeSlider .text-left {
        text-align: center;
    }
}
