<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table cellspacing="0" cellpadding="10" border="0" style="border:1px solid #999; font-family:arial; font-size:12px; line-height:18px;">
        <tr>
            <td>  Dear Security Advisor,</td>
        </tr>
        <tr>
            <td> The following end-user has completed a Multi-Family Housing Product Selector survey and requested contact.<br />from a Multi-Family Advisor. <br />Please contact them as soon as possible to follow up on their request and assist them with their security needs. </td>
        </tr>
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td width="150" style="padding:5px 0;">Full Name :</td>
                        <td style="padding:5px 0;"> %Name%</td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0;">Business Name :</td>
                        <td style="padding:5px 0;">%BusinessName%</td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0;">Phone Number :</td>
                        <td style="padding:5px 0;"> %PhoneNumber%</td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0;">Email Id :</td>
                        <td style="padding:5px 0;">%EmailId%</td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0;">State :</td>
                        <td style="padding:5px 0;">%StateName%</td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0;">Zip Code :</td>
                        <td style="padding:5px 0;">%ZipCode%</td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td><br /> Thank you!</td>
        </tr>

    </table>
</body>
</html>
