<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    
</head>
<body>
   
    
    <table cellspacing="0" cellpadding="10" border="0" style="border:1px solid #999; font-family:arial; font-size:12px; line-height:18px;">
        <tr>
            <td> Dear <strong> %FirstName%,</strong></td>
        </tr>
        <tr>
            <td >You have requested to reset your password for the Yale Multi-Family Housing Product Selector.<br /><br />Please follow the link below to reset your password.</td>
        </tr>
        <tr>
            <td><a href="%RESETPASSWORDLINK%" target="_blank">%RESETPASSWORDLINK%</a></td>
        </tr>
        <tr>
            <td>Sincerely,<br/>The Yale Multi-Family Housing Team</td>
        </tr>
       
    </table>
    
    
</body>
</html>
